torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
transformers==4.48.3
accelerate==1.3.0
openai-whisper==20240930
onnxruntime-gpu==1.17.0
onnxruntime
omegaconf==2.3.0
librosa==0.10.2.post1
sox==1.5.0
modelscope
numpy==1.26.4
six==1.16.0
hyperpyyaml
conformer==0.3.2
diffusers
pillow
sentencepiece
funasr>=1.1.3
protobuf==5.29.3
gradio>=5.16.0
nvidia-cuda-nvrtc-cu12==12.8.93
spaces==0.42.1
matplotlib==3.10.7
autoawq==0.2.8
